




body{
    background-color: #0b667a;
    background-size: cover;
}

.wrapper{
    text-align: center  ;
    padding: 20px;
}

button{
    height: 100px;
    width: 200px;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline black;
    background-color: rgb(80, 101, 109);
    text-align: center;
    float:left; 
    transition: 2s;
    margin: 50px;
}
button:hover{
   font-size: 70px; 
   text-decoration: none;
   text-shadow: 2px 2px rgb(209, 0, 80);
   


   
}
